:root{
	background:rgb(135, 206, 235);	
}
article p:first-child{
	background-color:black;
	color:white;
}
article p:nth-child(2) {
    color: initial;
}
article p:last-child {
    color: red;
}
#eg3{
	font-size:22px;
	background:white;
	padding:10px;
	width:50%;
}
#eg4{
	background:gray;
	padding:10px;
	width:50%
}
#eg5{
	background:pink;
	width:50%;
	padding:10px;
}
#eg6{
	background:gray;
	padding:10px;
	width:50%
}
#eg7{
	font-size:22px;
	background:white;
	padding:10px;
	width:50%;	
}
/*  your css code here. If applicable */
